In [20]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

# Загрузка данных

In [21]:
data = pd.read_excel('data/data_ford_price.xlsx')

## Предобработка данных

Давайте посмотрим, как StandardScaler, MinMaxScaler и RobustScaler справятся с нашими данными. Для наглядности будем использовать три столбца.

In [22]:
data = data[['price', 'year', 'weather']]
data.dropna(inplace = True)

## Масштабирование

In [23]:
data_scaled = data.copy()
col_names = ['price', 'weather']
x = data_scaled[col_names]

In [24]:
scaler = StandardScaler()
 
data_scaled[col_names] = scaler.fit_transform(x.values)
data_scaled.head()

      price  year   weather
0  2.558728  2016  0.862068
1  0.067373  2009 -0.017965
2 -1.072197  2002 -0.897998
3 -1.176990  2000 -0.395122
5 -0.677579  2003 -0.269403

In [25]:
y = data_scaled['year']
x = data_scaled.drop(columns='year')

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=40)

In [26]:
model = LinearRegression()
model.fit(X_train, y_train)
y_predicted = model.predict(X_test)
 
mae = mean_absolute_error(y_test, y_predicted)
print('MAE: %.3f' % mae)

MAE: 3.041

***